
body{
    overflow: hidden;
    background-color: #FCFFE9;
    position: relative;
}

main{
    position: relative;
    height: 100vh;
}
/*
.header{
    width: 50vw;
    background-color: blue; 
}

*/

h3{
    font-weight: normal;
}

h1{
    font-weight: bold;
}

.text{
    grid-area:text0;
    display: flex;
    
    flex-direction: row;
    column-gap: 1%;
    justify-content: center;
  
    
    border-bottom-style: dotted;
    height: 7vh;
    width: 80vw;
}

/*buttons*/
.next-button{
    /*
    grid-area:header2;
    */
    bottom: 1vw;  
    right: 1vh;   
    
    width: 10vw;
    height: 5vh;
    color: black;
    background-color: #8e63eb;
    border-style: solid;  
    display: none;
    flex-direction: row;
    align-items: center;
    
    border-radius: 1em;
    justify-content: right;
    column-gap: 5%;
    position: fixed;
}

.next-button:hover{
    background-color: #8059d4;
}

.next-button:active{
    background-color: #724fbc;
}
.next-button-image{
    width: 2vw;
    height: 2vw;
}
.start-button-flexbox{
    /*
    I JS byt från flex--> none efter knappen har tryckts
    sedan, bereonde på vilken typ av fråga ska respektive display ändras från none-->grid
    och grid--> när de inte används längre.
    */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    
}




/*Buttons end*/

.header-flexbox{
    display: flex;
    justify-content: left;
    flex-direction: row;
    column-gap:1%;
    height: 10vh;
    padding-left: 1%;
}

.start-page{
    /* flex <-- |--->none is CSS*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.start-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 7vh;
    color: black;
    background-color: #CA3203;
    border-style: none;
    transition-duration: 0.4s;
    border-radius: 5px;
    
}
.start-button:hover{
    background-color: #b62d03;   
    border-style: solid;
}

.start-button:active{
    background-color: #a22802;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/*Denna kan jag ta bort*/
@media only screen and (min-width:1025) and (max-width:2000px ) {

}

/*Tablet landscape mode*/
@media only screen and (min-width: 700px) and (max-width:1024px) {
    body{
        overflow: scroll;
    }
    .start-button{
        width: 50vw;
        height: 12vh;
        font-size:large;
        text-align: center;
    }

    body .grid-container-mono-picture-type{
        display:none;
        width:100%;
        height: auto;


        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr 1fr ;

        grid-template-areas: 
        "header0 header1 header2 header3"
        ". image image ."
        "text text text text"
        ".option0 option1 ."
        ". option2 option3 .";

        gap:1em;
        position: relative;

    }

    .text-flexbox{
        justify-content: center;
        align-items: center;   
        
    }

    .quest-alternative-flexbox{
        width: 30vw !important;
    }
    
    .quest-item{
        width: auto;
        height: 22dvh;
        
    }

    .correct-answers{
        grid-area: header1;
        width: 1vw;
        position: fixed;
        
    }

    .next-button{
    width: 15vw;
    height: 7vh;
    }

    .next-button-image{
        width: 3vw;
        height: 3vw;
    }

    body .grid-item0, .grid-item1, .grid-item2, .grid-item3{
      
        font-size: large;
    }

    .text{
        padding-bottom: 0.5em;
    }
   
}

/*Tablet portrait mode*/
@media only screen and (min-width:500px) and (max-width:899px) {

   
    body .grid-container-mono-picture-type{
    display:none;
    width:100%;
    height: auto;
    

    grid-template-columns:0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr 1fr ;

    grid-template-areas: 
    "header0 header1 header1 header1 "
    ".  image image ."
    ". text text ."
    ". option0 option1 . "
    ". option2  option3 . ";
    
    gap:10px;
    
    }

    .start-button{
        width: 55vw;
        height: 5vh;
        font-size: medium;
    }

    html,body{
        min-height: 100dvh;
        overflow-x: hidden;
        overflow-y:auto;
      
        margin: 0px;
        padding: 0px;
  
    }

    .quest-item{
        width: 70vw;
        height: auto;
    }

    .correct-answers{
        grid-area: header1;
        width: 5vw;
        position: relative;
        
    }
    h2{
        font-size: medium;
    }

    .next-button{
        width: 15vw;
        height: 7vh;
    }

    .next-button-image{
        width: 3vw;
        height: 3vw;
    }
    

    body .grid-item0, .grid-item1, .grid-item2, .grid-item3{
        height: 17vh ;
        font-size: large;
    }


    
   
}
/*Situations when the phone is held vertically*/
@media only screen and (max-width:599px){
    body .grid-container-mono-picture-type{
        display:none;
        width:100%;
        height: auto;
        

        grid-template-columns:0.5fr 1fr 1fr 0.5fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr ;

        grid-template-areas: 
        "header0 header1 header1 header1 "
        ".  image image ."
        ". text text ."
        ". option0 option1 . "
        ". option2  option3 . ";
        
        gap:10px;
    
    }

    .text-flexbox{
        font-size: 0.5em;
        padding-bottom: 0.4em;
        
    
    }

    .start-button{
        width: 55vw;
        height: 8vh;
        font-size: medium;
    }

    html,body{
        min-height: 100dvh;
        overflow-x: hidden;
        overflow-y:auto;
      
        margin: 0px;
        padding: 0px;
  
    }

    .quest-item{
        width: 70vw;
        height: auto;
    }

    .correct-answers{
        grid-area: header1;
        width: 5vw;
        position: absolute;
        left:14vw;
        
        
    }

    footer .footer-center{
        font-size: small;
    }
    h2{
        font-size: small;
    }

    .next-button{
        position: absolute;
        bottom:11vh;
        right: 14vw;
        width: 34vw;
        height: 7vh;
        font-size: 0.6em;
        font-style:normal;
    }

    .next-button-image{
        width: 5vw;
        height: 5vw;
    }
    

    body .grid-item0{
        height: 15vh ;
    }

    body .grid-item1{
        height: 15vh ;
    }
    body .grid-item2{
        height: 15vh ;
    }
    body .grid-item3{
        height: 15vh ;
    }


}
/*Situations when the phone is held horisontally*/
@media only screen and (min-width: 480px) and (max-width: 896px) {
    body .grid-container-mono-picture-type{
        display:none;
        width:100%;
        height: auto;
        

        grid-template-columns:0.5fr 1fr 1fr 0.5fr;
        grid-template-rows: 0.5fr 1fr 0.1fr 1fr 1fr ;

        grid-template-areas: 
        "header0 header1 header1 header1 "
        ".  image image ."
        ". text text ."
        ". option0 option1 . "
        ". option2  option3 . ";
        
        gap:10px;
    
    }
    body, html{
        overflow: hidden !important;
    }

    .text-flexbox{
        font-size: 0.45em;
    
    }

    .start-button{
        width: 50vw;
        height: 10vh;
        font-size: medium;
    }

    html,body{
        min-height: 100dvh;
        overflow-x: hidden;
        overflow-y:auto;
      
        margin: 0px;
        padding: 0px;
  
    }
    
    body   .mono-image{
        width: 20dvw;
        align-self: center;
    }
    .quest-item{
        width: 70vw;
        height: auto;
    }

    .quest-alternative-flexbox{
        height: 20vh !important;
        width: 20vw !important;
    }   
   
    .correct-answers{
        grid-area: header1;
        width: 5vw;
        position: absolute;
        left:14vw;
        height: 10vh;  
    }

    footer .footer-center{
        font-size: small;
        position: absolute;
        font-size:0.43em;
        bottom: 0;
    }
    h2{
        font-size: small;
    }

    .next-button{
        position: absolute;
        bottom:1vh;
        right: 14vw;
        width: 11vw;
        height: 7vh;
        font-size: 0.5em;
        
        gap:0px;
    }

    .next-button-image{
        width: 2.5vw;
        height: 2.5vw;
    }
    

    body .grid-item0{
        height: 15vh ;
    }

    body .grid-item1{
        height: 15vh ;
    }
    body .grid-item2{
        height: 15vh ;
    }
    body .grid-item3{
        height: 15vh ;
    }

}

.footer-center{
    /*grid-area: footer;*/
    width: 100vw;
    text-align: center;
    position: fixed;
    bottom:1vh;
    

}

/*
* poly picture grid
*/
.grid-container-poly-picture-type{
    display:none;
    width:100%;
    height: auto;
    

    grid-template-columns:1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 5vh 25vh 15vh 20vh 20vh 5vh;

    grid-template-areas: 
    "header0 header1 header2 header2 header2 header3"
    ". image0 image1 image2 image3 ."
    ". text0 text0 text0 text0 ."
    ". option0 option0 option1 option1 ."
    ". option2 option2 option3 option3 ."
    "footer footer footer footer footer footer";
    
    gap:10px;
   
}



/*
* Present choices for the User
*/

.grid-item0{
    grid-area:option0;
    border-style: solid;
    border-radius: 5px;
   

    
    background-color: #fde0d9;

    text-align: center;
    width: 35vw;
    height: 17vh;

    align-self:end;
    margin-left:auto;
}

.grid-item0:hover{
    background-color: #e4cac3;   
    border-style: solid;
}

.grid-item0:active{
    background-color: #cab3ae;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.grid-item1{
    grid-area: option1;
    border-style: solid;
    border-radius: 5px;
 
 
    background-color: #FFF2CC;

    text-align: center;
    width: 35vw;
    height: 17vh;
    
    align-self:end;
}


.grid-item1:hover{
    background-color: #e6dab8;   
    border-style: solid;
}

.grid-item1:active{
    background-color: #ccc2a3;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.grid-item2{
    grid-area: option2;
    border-style: solid;
    border-radius: 5px;
 
    background-color:  #CAEFD1;

    text-align: center;
    width: 35vw;
    height: 17vh;
    margin-left:auto;
}

.grid-item2:hover{
    background-color: #b6d7bc;   
    border-style: solid;
}

.grid-item2:active{
    background-color: #a2bfa7;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.grid-item3{
    grid-area: option3;
    border-style: solid;
    border-radius: 5px;
 
    background-color: #CAF4F4;
    text-align: center;
    width: 35vw;
    height: 17vh;
}



.grid-item3:hover{
    background-color: #b6dcdc;   
    border-style: solid;
}
.grid-item3:active{
    background-color: #a2c3c3;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.buttoncontent{
    display: flex;
    flex-direction: row;
    
    justify-content: left;
    column-gap: 1%;
    
}


.flexbox1{

    display: flex;
    flex-direction: column;
}
.flexbox2{

    display: flex;
    flex-direction: column; 
}
.flexbox3{

    display: flex;
    flex-direction: column;   
}

/*
* Present alternatives for the user
*/

.quest-item0{
    grid-area: image0;
    border-style: none;
    align-self:end;
    align-content:flex-end;
     
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: center;
    align-items: center;
 
}

.button-content1{
    text-align: left;
    font-size: x-large;
}



.quest-item1{
    grid-area: image1;
    border-style: none;
    align-content: flex-end; 
    align-self:end;

    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

.quest-alternative-flexbox1{
    display: flex;
    flex-direction: column;
    margin: 0px;
}




.quest-item2{
    grid-area: image2;
    border-style: none;
    align-content: flex-end;
    align-self:end;

    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: center;
    align-items: center;
}


.quest-item3{
    grid-area: image3;
    border-style: none;
    align-content: flex-end;
    align-self:end;

    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

/*
* mono picture grid type
*/

.grid-container-mono-picture-type{
    display:none;
    width:100%;
    height: auto;
    

    grid-template-columns:1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 5vh 25vh 15vh 20vh 20vh ;

    grid-template-areas: 
    "header0 header1 header1 header1 header1 header1"
    ". . image image . ."
    ". text text text text ."
    ". option0 option0 option1 option1 ."
    ". option2 option2 option3 option3 .";
    
    gap:10px;
    
}

.quest-alternative-flexbox{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
  
}

.quest-item{
    grid-area:image;
    place-items: center
    
}

.mono-image{
    /*Detta måste fixas!!!!*/
    width: 100%;
    height:100% ;
}

.text-flexbox{
    grid-area:text;
    display: flex;
    justify-content: center;
    height: 7vh;
    
}

.correct-answers{
    grid-area:header0;
    text-wrap: nowrap;
    font-size: small;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    position: relative;
    
}


/*Mono-text-grid*/

.mono-text-grid{
    display:none;
    width:100%;
    height: auto;
    

    grid-template-columns:1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 5vh 25vh 15vh 20vh 20vh ;

    grid-template-areas: 
    "header0 header1 header2 header3 header4 header6"
    ". . . . . ."
    ". text text text text ."
    ". option0 option0 option1 option1 ."
    ". option2 option2 option3 option3 .";
    
    gap:10px;
}

.button-content-mono-text{
    display: flex;
    flex-direction: row;
    
    justify-content: left;
    column-gap: 1%;
}
/*Mono-text-grid*/


/*End-screen*/
.end-screen{
    display: none;
    flex-direction: column;
    column-gap: 1em;
    position: absolute;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
      left: 50%;
    bottom: 30%;
    transform: translate(-50%, -50%);


}

.restart-button{
    width: 12vw;
    height: 7vh;
    color: black;
    background-color: #CA3203;
    border-style: none;
    transition-duration: 0.4s;
    border-radius: 5px;
}

.restart-button:hover{
    background-color: #b62d03;   
}

.restart-button:active{
     background-color: #a22802;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.to-start-page-button{
    width: 12vw;
    height: 7vh;
    color: black;
    background-color: #CA3203;
    justify-content: center;
    align-items: center;
    border-style: none;
    transition-duration: 0.4s;
    border-radius: 5px;
}
.to-start-page-button:hover{
    background-color: #b62d03;  
}

.to-start-page-button:active{
    background-color: #a22802;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.end-screen-textbox{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    bottom: 100%;
    width: 20vw;
   

}
/*End-screen*/